
/* Body */
html, body{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    background-color: #fafafa;
}
.top-margin{
    margin-top: 5em;
}

/* Navbar styling */

#navMain {
    font-family: 'Raleway';
    font-size: 20px;
    /* text-transform: uppercase; */
    background: rgb(255, 255, 255);
}

#navMain .navbar-toggler {
    font-size: 16px;
    padding: 11px;
    color: rgb(0, 0, 0);
}

#navMain a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#navMain .navbar-nav .nav-item:active,
#navMain .navbar-nav .nav-item:focus {
    outline: none;
    background-color: rgb(240, 120, 120);
}
#logo-name{
    float: left;
    width: 120px;
    padding-left: 10px;
}
/* End of Navbar */


/* Log in styling */
/* End of Login styling */

/* Sign-Up Styling */
@font-face {
    font-family: billabong;
    src: url('/static/Font/Billabong.ttf');
    font-weight: bold;
}

body {
    background-color: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
div.mylogo{
    width: 100%;
    height: 80px;
}
img#logo-name.mylogo{
    margin-left: 60px;
    width: 60%;
}
.signup-page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px auto 0;
    max-width: 935px;
    padding-bottom: 44px;
    width: 100%;
}

.signup-fields {
    color: #262626;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}

.section {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.section h1 {
    font-family: 'Billabong';
    font-size: 60px;
    text-align: center;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.section p{
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

.small {
    color: red;
}

.form-section {
    /* max-width: 250px; */
    font-size: 14px;
    margin: 0 2rem;
}
.sign-up{
    display: flex;
    justify-content: center;
    padding-top: 3.5%;
    font-size: 14px;
}
input.btn.btn-primary.btn-sm{
    width: 100%;
}
input.form-control{
    background-color: #fafafa;
    border-radius: 3px;
    color: #c1c2c4;
    font-size: 12px;

}
#login label{
    display: none;
}
p.forget{
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
    color: #003569;
}
p.log{
    font-size: 14px;
}
small.text-muted{
    display: none;
}
#register label{
    display: none;
}
/* End of Sign up styling */
